name: ci

on:
  push:
    paths-ignore:
      - 'guides/**'

permissions: read-all

jobs:
  ci:
    env:
      MIX_ENV: test
      DOPPLER_TOKEN: ${{ secrets.DOPPLER_TOKEN }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - pair:
              elixir: '1.18.3-otp-27'
              otp: '27.3.1'

    runs-on: ubuntu-24.04

    services:
      # Label used to access the service container
      hex_beefy:
        # Docker Hub image
        image: camatcode/hex_beefy:with_test_user
        ports:
          - 4000:4000

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - uses: erlef/setup-beam@e6d7c94229049569db56a7ad5a540c051a010af9 # v1.20.4
        with:
          otp-version: ${{matrix.pair.otp}}
          elixir-version: ${{matrix.pair.elixir}}

      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            deps
            _build
          key: ${{ runner.os }}-mix-${{matrix.pair.elixir}}-${{matrix.pair.otp}}-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-mix-${{matrix.pair.elixir}}-${{matrix.pair.otp}}-

      - name: Run mix deps.get
        run: mix deps.get --only test

      - name: Run mix format
        run: mix format --check-formatted

#      - name: Run mix deps.unlock
#        run: mix deps.unlock --check-unused

      - name: Run mix deps.compile
        run: mix deps.compile

      - name: Run mix compile
        run: mix compile --warnings-as-errors

      - name: Run credo
        run: mix credo --strict

      - name: Run tests
        run: mix coveralls.github
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run dialyzer
        run: mix dialyzer
